.stepper-link {
    color: #565674;
    text-decoration: none;
    cursor: pointer;
}
.stepper-link:hover {
    text-decoration: underline;
}
.stepper-nav {
    padding-bottom: 0;
    padding-left: 0;
}
.MuiStepIcon-root.MuiStepIcon-completed {
    color: #565674;
}
