.motivations, .form-motivations {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.motivations {
    max-width: 75%;
    min-height: 100vh;
    grid-template-areas:
    "stepper branding"
    "motivations-title ."
    "form form";
}
.form-motivations {
    width: 100%;
    grid-template-areas:
    "section aside"
    "nav nav";
}
.stepper { grid-area: stepper; }
.branding { grid-area: branding; }
.motivations-questions__title { grid-area: motivations-title; }
.form-motivations { grid-area: form; }
  
/* Form container items */
.motivation-questions { grid-area: section; }
.desired-job { grid-area: aside; }
.nav-motivation { grid-area: nav; }


/* Font Styles */
.motivations-questions__title {
    font-size: 2.25em;
    font-weight: 300;
    color: #262AD1;
    margin-top: 25px;
}
.desired-location__title,
.desired-job__title {
    font-size: 25px;
    font-weight: 400;
    opacity: .65;
    color: #321880;
    padding-right: 20px;
}
.motivation-questions__info {
    max-width: 90%;
    color: #321880;
    margin: 0;
    font-size: 1.2em;
    font-weight: 400;
}
.desired-location__title{
    margin-top: 25px;
}
.wrapper-motivation {
    margin: 20px 0;
}
.wrapper-jobfield {
    margin: 10px 0;
}

