.dashboard-container {
  display: grid;
  grid-template-columns: 25% 45% 30%;
  grid-template-rows: auto;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  max-width: 75%;
  height: 100vh;
  grid-template-areas:
    ". . branding"
    "aside-menu section section"
    "footer footer footer";
}

.branding { grid-area: branding; }
.dahsboard-aside { grid-area: aside-menu; }
.jobs-results { grid-area: section; }
.foonavbar { grid-area: footer; }

.jobs-results {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 75vh;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "metrics info";
}

.jobs-results__info { grid-area: header; }
.metrics { grid-area: metrics; }
.metrics-labels { grid-area: info; }

.dahsboard-aside button {
    width: 75%;
    padding: 25px 0;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}
.foonavbar {
    display: inline-flex;
    justify-content: center;
}
.foonavbar-link, .foonavbar span {
    padding: 0 30px;
}
.foonavbar-link {
    text-decoration: none;
}