/* Home and grid items structure */
.home {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header"
    "main"
    "team-section"
    "footer";
  font-family: 'Roboto', sans-serif;
  background-image: url('./img/main-graphic.svg');
  background-repeat:  no-repeat;
  background-size: 550px;
  background-position: 120px 60px; /* left top*/ 
}
.home-header, .main-content, .foonavbar {
  max-width: 75%;
}
.main-content, .foonavbar {
  margin: 0 auto;
}
.home-header { grid-area: header; }
.main-content { grid-area: main; }
.hovify-team { grid-area: team-section; }
.foonavbar { grid-area: footer; }

/* Header: Logo and Sign in Modal styles: */
.home-header {
  display: flex;
  padding: 10px 100px;
  justify-content: space-between;
  max-width: 100%;
 }
 .branding-home {
  max-width: 185px;
}
.modal-signin, .modal {
  position: relative;
  margin: 15% auto;
  display: flex;
  flex-direction: column;
  min-width: 20em;
  max-width: 25em;
  background-color: #fff;
  outline: transparent;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
/* Main Content*/
.main-content {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: auto;
  grid-template-areas: 
    ". contentHome";
}
.contentHome {
  grid-area: contentHome;
  padding-top: 90px;
}
.main-title {
  font-size: 85px;
  font-weight: 300;
  color: #321880;
  line-height: .7;
  padding-bottom: 30px;
}
.main-title span {
  color: #FE5F55;
}
.main-title span ~ span {
  color: #262AD1;
}
.main-highlight {
  font-size: 50px;
  font-weight: 300;
  color: #321880;
  line-height: .8;
  padding: 25px 0 0;
}
.main-highlight span {
  font-size: 60px;
  color: #FE5F55;
}
.main-highlight span ~ span {
  font-size: 50px;
  color: #262AD1;
}
.contentHome p {
  font-size: 20px;
  line-height: 1.3em;
  color: #55555E;
}
/* Sign in Modal */
.signin-modal__container {
  width: 25%;
  display: flex;
  align-items: center;
}
.signin-text {
  width: 100%;
}
.modal-signin {
  padding: 2em 2em .5em;
}
.modal-signin > form > p {
  font-size: .85em;
  line-height: 0;
}
.modal-signin > form > p ~ p {
  font-size: 1.5em;
  line-height: 0;
  color: #321880;
}
.username, .password {
  width: 100%;
  margin: 5px 0;
}
.sign-modal__icon {
  opacity: .15;
}
.modal-close__icon {
  opacity: .4;
  width: 30px;
  margin-right: -20px;
  float: right;
  cursor: pointer;
}
.divBtnContent p{
  font-family: 'Roboto', sans-serif;
  font-size: .85em;
}
/* LinkedIn Modal */
.modal-linkedIn {
  padding: 1em 2em .5em;
  max-width: 30em;
}
/* Buttons */
.btn-signin,
.btn-primary_linkedin,
.btn-modal__linkedin,
.btn-modal__signin,
.btn-primary_zero {
  display: block;
  color: whitesmoke;
  background-color: rgba(63, 81, 181, 1);
  border: none;
  border-radius: 30px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.75;
  margin: 15px auto;
  padding: 7px;
  width: 90%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.btn-signin {
  letter-spacing: .1em;
}
.btn-modal__linkedin,
.btn-modal__signin {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.btn-primary_linkedin,
.btn-primary_zero {
  display: inline;
  max-width: 45%;
  padding: 10px 0;
  margin-right: 10px;
  margin-left: 10px;
  letter-spacing: 0.05em;
}
.btn-primary_zero {
  background-color: #FE5F55;
}
.btn-primary_zero__link {
  color: whitesmoke;
  text-decoration: none;
}
/* Footer styles */
.foonavbar {
  padding: 25px 0;
  display: inline-flex;
  justify-content: center;
}
.foonavbar-link, .foonavbar span {
  padding: 0 30px;
}
.foonavbar-link {
  text-decoration: none;
}
/* Hovify team */
.hovify-team {
  margin: 40px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.hovify-member {
  margin: 0 10px;
}
.hovify-member__photo {
  background-color: whitesmoke;
  height: 150px;
  width: 150px;
  margin: 25px;
  border-radius: 50%;
}
.hovify-member__name,
.hovify-member__label {
  text-align: center;
}
.hovify-member__label {
  font-family: 'Roboto', sans-serif;
}
.hovify-member__socialmedia {
  display: flex;
  justify-content: center;
}
.twitter, .linkedin, .medium {
  margin: 0 5px;
  width: 25px;
}