/* Home and grid items structure */
.home {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "team-section"
    "team-section_res"
    "footer";
  font-family: "Roboto", sans-serif;
  background-image: url("./img/main-graphic.svg");
  background-repeat: no-repeat;
  background-size: 480px;
  background-position: 100px 250px; /* left top*/
}
.home-header,
.main-content,
.foonavbar {
  max-width: 80%;
}
.main-content,
.foonavbar {
  margin: 0 auto;
}
.home-header {
  grid-area: header;
}
.main-content {
  grid-area: main;
}
.hovify-team {
  grid-area: team-section;
}
.hovify-team-responsive {
  grid-area: team-section_res;
}
.foonavbar {
  grid-area: footer;
}

/* Header: Logo and Sign in Modal styles: */
.home-header {
  display: flex;
  padding: 10px 100px;
  justify-content: space-between;
  max-width: 100%;
}
.branding-home {
  max-width: 185px;
}
.modal-signin,
.modal {
  position: relative;
  margin: 15% auto;
  display: flex;
  flex-direction: column;
  min-width: 20em;
  max-width: 25em;
  background-color: #fff;
  outline: transparent;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
/* Main Content*/
.main-content {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: auto;
  grid-template-areas:
    ". contentHome"
    "feature1 feature1"
    "feature2 feature2"
    "feature3 feature3";
}

.feature1 {
  grid-area: feature1;
}

.feature2 {
  grid-area: feature2;
}

.feature3 {
  grid-area: feature3;
}

.feature4 {
  grid-area: feature4;
}
.contentHome {
  grid-area: contentHome;
  padding-top: 90px;
}
.main-title {
  font-size: 85px;
  font-weight: 300;
  color: #321880;
  line-height: 0.7;
  padding-bottom: 30px;
}
.main-title span {
  color: #fe5f55;
}
.main-title span ~ span {
  color: #262ad1;
}
.main-highlight {
  font-size: 50px;
  font-weight: 300;
  color: #321880;
  line-height: 0.8;
  padding: 25px 0 0;
}
.main-highlight span {
  font-size: 60px;
  color: #fe5f55;
}
.main-highlight span ~ span {
  font-size: 40px;
  color: #262ad1;
}
.contentHome p {
  max-width: 90%;
  font-size: 20px;
  line-height: 1.3em;
  color: #55555e;
}
/* Sign in Modal */
.signin-modal__container {
  width: 30%;
  display: flex;
  align-items: center;
}
.signin-text {
  width: 100%;
}
.modal-signin {
  padding: 2em 2em 1.25em;
}
.modal-signin > form > p {
  font-size: 0.85em;
  line-height: 0;
}
.modal-signin > form > p ~ p {
  font-size: 1.5em;
  line-height: 1;
  color: #321880;
}
.username,
.password {
  width: 100%;
  margin: 5px 0;
}
.sign-modal__icon {
  opacity: 0.15;
}
.modal-close__icon {
  opacity: 0.4;
  width: 30px;
  margin-right: -20px;
  float: right;
  cursor: pointer;
}
.divBtnContent span {
  font-family: "Roboto", sans-serif;
  font-size: 0.85em;
}
.background-image {
  display: none;
}

/* LinkedIn Modal */
.modal-linkedIn {
  padding: 1em 2em 0.5em;
  max-width: 30em;
}
/* Buttons */
.btn-signin,
.btn-primary_linkedin,
.btn-modal__linkedin,
.btn-modal__signin,
.btn-primary_zero {
  display: block;
  color: whitesmoke;
  background-color: rgba(63, 81, 181, 1);
  border: none;
  border-radius: 30px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.75;
  margin: 15px auto;
  padding: 7px;
  width: 90%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.btn-signin {
  letter-spacing: 0.1em;
}
.btn-modal__linkedin,
.btn-modal__signin {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.btn-primary_linkedin,
.btn-primary_zero {
  display: inline;
  max-width: 48%;
  padding: 10px 0;
  margin-right: 5px;
  margin-left: 5px;
  letter-spacing: 0.05em;
}
.btn-primary_zero {
  background-color: #fe5f55;
}
.btn-primary_zero__link {
  color: whitesmoke;
  text-decoration: none;
}
/* Footer styles */
.foonavbar {
  padding: 25px 0;
  display: inline-flex;
  justify-content: center;
}
.foonavbar-link,
.foonavbar span {
  padding: 0 30px;
}
.foonavbar-link {
  text-decoration: none;
}
/* Hovify team */
.hovify-team-responsive {
  display: none;
}
.team-title {
  flex-basis: 100%;
  text-align: center;
  font-size: 2.5em;
  font-weight: 300;
  color: #321880;
  line-height: 0;
}
.hovify-team {
  margin: 40px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.hovify-member {
  margin: 0 10px;
}
.hovify-member__photo {
  height: 150px;
  width: 150px;
  margin: 25px;
  border-radius: 50%;
}
.bayona {
  background-image: url("./img/bayona_pic.jpg");
  background-repeat: no-repeat;
  background-size: 190px;
  background-position: -15px -5px;
}
.daorejuela {
  background-image: url("./img/daorejuela_pic.jpg");
  background-repeat: no-repeat;
  background-size: 280px;
  background-position: -60px -60px;
}
.juanllano {
  background-image: url("./img/llano_pic.jpg");
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: -45px -5px;
}
.nathsotomayor {
  background-image: url("./img/soto_pic.jpg");
  background-repeat: no-repeat;
  background-size: 155px;
  background-position: 0px 0px;
}
.taorejuela {
  background-image: url("./img/taorejuela_pic.jpg");
  background-repeat: no-repeat;
  background-size: 155px;
  background-position: 0px 2px;
}
.hovify-member__name,
.hovify-member__label {
  text-align: center;
}
.hovify-member__label {
  color: gray;
  font-family: "Roboto", sans-serif;
}
.hovify-member > a {
  color: #321880;
  font-size: 1em;
  line-height: 0;
  text-decoration: none;
  text-transform: uppercase;
}
.hovify-member__socialmedia {
  display: flex;
  justify-content: center;
}
.twitter,
.linkedin,
.medium {
  margin: 0 5px;
  width: 25px;
}
.devlogo {
  width: 35px;
}

.contentFeauture {
  display: flex;
  width: 100%;
}

.feature1,
.feature2,
.feature3 {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin: 25px 0px;
  border-top: 1px solid gray;
}

.text {
  width: 40%;
  position: relative;
  right: 0%;
  margin-left: 100px;
  margin-top: 30px;
}

.animation_product {
  position: relative;
  margin-top: 40px;
  width: 50%;
}

.feature-highlight {
  font-size: 35px;
  font-weight: 200;
  color: #321880;
  line-height: 0.8;
  padding: 25px 0 0;
}
.feature-highlight span {
  font-size: 35px;
  color: #fe5f55;
}
.feature-highlight span ~ span {
  font-size: 35px;
  color: #262ad1;
}

.feature1 p,
.feature2 p,
.feature3 p {
  max-width: 90%;
  font-size: 20px;
  line-height: 1.3em;
  color: #55555e;
}
