@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');

* {box-sizing: border-box;}

h1, h2, h3, fieldset, legend {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.branding {
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  color: gray;
  opacity: .5;
  font-weight: 400;
  font-size: 3em;
  margin: 0 auto;
}
.date-picker__field {
  margin-bottom: 15px;
  font-size: 14px;
}
.date-picker {
  width: 100%;
}

/* Button SPA Styles *provisional* */
.btn-link {
  display: block;
  color: coral;
  background-color: white;
  border: 1px solid rgba(63, 81, 181, 0.5);
  border-radius: 3px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 5px;
  width: 20%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
