@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');

* {box-sizing: border-box;}

h1, h2, h3, fieldset, legend {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
  line-height: 0;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.branding {
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  color: gray;
  opacity: .5;
  font-weight: 400;
  font-size: 3em;
  margin: 0 auto;
}
.date-picker__field {
  margin-bottom: 15px;
  font-size: 14px;
}
.date-picker {
  width: 100%;
}
